<div class="container my-3 py-3">
    <div class="row">
      <div class="col-lg-7">
        <h2 id="header"><img src="/assets/img/burger.png" width="30" alt="burger"> Build a Burger <img src="/assets/img/burger.png" width="30" alt="burger"></h2>
        <div class="input-group mb-3" id="create-burger">
          <input type="text" class="form-control" placeholder="New burger" id="new-burger" aria-describedby="order-burger">
          <div class="input-group-append">
            <button class="btn btn-outline-danger" type="button" id="order-burger">Order Burger</button>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="devour">
              <h3 data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                BURGERS TO DEVOUR <span id="add">+</span>
              </h3>
              <div class="collapse" id="collapseExample">
                <div>
                  {{#each burgers}}
                    {{#unless devoured}}
                    <p>
                      {{this.burger_name}}
                      <button data-burgerid="{{this.id}}" class="btn btn-sm btn-danger devour-burger">Devour it!</button>
                    </p>
                    {{/unless}}
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <div class="devoured">
              <h3 data-toggle="collapse" data-target="#collapseExample2" aria-controls="collapseExample">
                DEVOUR HISTORY <span id="add">+</span>
              </h3>
              <div class="collapse" id="collapseExample2">
                <div>
                  {{#each burgers}}
                    {{#if devoured}}
                    <p>
                      {{this.burger_name}}
                    </p>
                    {{/if}}
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
